@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display:100,200,300,400,500,600,700,800|Source+Serif+Pro:100,200,300,400,500,600,700,800');

body {
	font-family: 'Stardos Stencil', cursive;
    font-size: 1.6rem;
	color: rgb(0, 0, 0, 1);
}

.background {

	background: url("../images/background.jpg");
    min-height: 100vh;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }

.logo {
    box-shadow: 0rem 0rem 1.5rem 0rem rgb(0, 0, 0, 1);
    width: 40%;
}

.logo-small-device{
    width: 60%;
}

.navbar-color{
	background-color: rgb(254, 17, 71, .8);
}

.link-font {
	font-size: 1.1rem;
	color: rgb(255, 255, 255, 1);
    font-weight: 600;
}

/* CATCH_LOG.HTML*/

.accordian-color{
    border-color: rgb(255, 255, 255, 1);
}

.catch-log-font{
    font-size: 1.2rem;
    color:rgb(0, 0, 0, 1);
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.catch-log-align{
    text-align: center;
    list-style: none;
}

/*forms*/

.form-header p{

    color:rgb(255, 255, 255, 1);
    font-size: 1.4rem;
    margin-bottom:0rem;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
    background-color:rgb(26, 16, 112, 1);
}

.btn-block, .card-header{
        background-color:rgb(26, 16, 112, 1);
        border:rgb(26, 16, 112, 1);
}

.card{
        background-color:rgb(255, 255, 255, .8);
        border:rgb(26, 16, 112, .8);
}

.fa-magnet{
    color:rgb(254, 17, 71, 1);
}

.form-fields{
    font-size: 1.2rem;
    color:rgb(128, 128, 128, 1);
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.form-margins-add{
    padding-left:1.5rem;
    padding-right:1.5rem;
}

.name-form-field{
    padding-right:0rem !important;
}

.email-form-field{
    padding-left:0rem !important;
}

.magnet-form-field{
    padding-right:0rem !important;
}


.default-button{
    background-color:rgb(26, 16, 112, .8);
    border-color:rgb(26, 16, 112, .8);
}

.default-button:hover{
    background-color: rgb(190, 190, 190, 1)  !important;
    border-color: rgb(190, 190, 190, 1)  !important;
}

.edit-button{
    background-color:rgb(255, 255, 255, 1);
    border-color:rgb(255, 255, 255, 1);
    color:rgb(26, 16, 112, .8);
}

.edit-button:hover{
    background-color: rgb(190, 190, 190, 1)  !important;
    border-color: rgb(190, 190, 190, 1)  !important;
}

.form-button-delete{
        background-color:rgb(254, 17, 71, 1);
        border:rgb(254, 17, 71, 1);
}

.form-button-delete:hover{
       background-color:rgb(254, 17, 71, .7) !important;
       border:rgb(254, 17, 71, .7) !important;
}

.link-font:hover{
	color: rgb(190, 190, 190, 1) !important;
	text-decoration: none !important;
}

/*Increase sixe of logo on medium devices for better viewing. Otherwise too small.*/
@media(min-width:62rem) {
	.logo {
    width: 25%;
	}
}

/*Reduced size of link-font on medium devices for better viewing. Otherwise too big.*/
@media(min-width:62rem) {
    .link-font {
	font-size: 1.60rem;
	color: rgb(255, 255, 255, 1);
    font-weight: 800;
    }
}

/*Reduced padding to provide more room for form fields in forms on smaller devices add_catches.html.*/
@media(min-width:31.875rem) {
.container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    }
}

/*Reduced padding to provide more room for form on smaller devices for add_catches.html.*/
@media(min-width:31.875rem) {
.form-margins-add{
    padding-left:3rem;
    padding-right:3rem;
    }
}

/*Reduce 'Name' field padding to provide more room on smaller devices for add_catches.html.*/
@media(min-width:45rem) {
.name-form-field{
    padding-right:1.5rem !important;
    }
}

/*Reduce 'Email' field padding to provide more room on smaller devices for add_catches.html.*/
@media(min-width:45rem) {
.email-form-field{
    padding-left:1.5rem !important;
    }
}

/*Reduce 'Magnet' field padding to provide more room on smaller devices for add_catches.html.*/
@media(min-width:45rem) {
.magnet-form-field{
    padding-right:1.5rem !important;
    }
}

/*Reduce 'Magnet' field padding to provide more room on smaller devices for add_catches.html.*/
@media(min-width:48rem) {
.catch-log-align{
    text-align: left;
    list-style: none;
    }
}