
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display:100,200,300,400,500,600,700,800');

body {
	font-family: 'Stardos Stencil', cursive;
    font-size: 1.6rem;
	color: rgb(0, 0, 0, 1);
}

.background {

	background: url("../images/background.jpg");
    min-height: 100vh;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    box-shadow: 0rem 0rem 1.5rem 0rem rgb(0, 0, 0, 1);
    width: 40%;
}

.logo-small-device{
    width: 60%;
}

.navbar-color{
	background-color: rgb(254, 17, 71, .8);
}

.link-font {
	font-size: 1.1rem;
	color: rgb(26, 16, 112, 1);
    font-weight: 600;
}

/* CATCH_LOG.HTML*/

.accordian-color{
    border-color: rgb(255, 255, 255, 1);
}

/*forms*/

.form-header p{
    color:rgb(26, 16, 112, 1);
    font-size: 1.1rem;
    margin-bottom:0rem;
    text-decoration: none;
    font-weight: 600;
}

.form-button-edit{
        background-color:rgb(26, 16, 112, 1);
        border:rgb(26, 16, 112, 1);
}

.btn-success:hover{
    background-color: rgb(71, 117, 178, 1) !important;
    border-color: rgb(71, 117, 178, 1) !important;
}

.form-button-delete{
        background-color:rgb(255, 00, 1, 1);
        border:rgb(255, 00, 1, 1);
}

/*Increase sixe of logo on medium devices for better viewing. Otherwise too small.*/
@media(min-width:62rem) {
	.logo {
		width: 25%;
	}
}

/*Reduced size of logo on medium devices for better viewing. Otherwise too big.*/
@media(min-width:62rem) {
    .link-font {
	font-size: 1.60rem;
	color: rgb(26, 16, 112, 1);
    font-weight: 800;
    }
}