{% extends 'base.html' %}
{% block content %}

<div class="container">
<form>
  <div class="form-row">
    <div class="form-row col-12">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-row col-12">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-row col-12">
      <label for="inputMagnet">Magnet</label>
      <input type="text" class="form-control" id="inputMagnet" placeholder="Magnet">
    </div>
    <div class="form-row col-12">
      <label for="inputArea">Area</label>
      <input type="text" class="form-control" id="inputArea" placeholder="Area">
    </div>
    <div class="form-row col-12">
      <label for="inputLocation">Location</label>
      <input type="text" class="form-control" id="inputLocation" placeholder="Location">
    </div>
     <div class="form-row col-12">
      <label for="catches">Location</label>
      <textarea rows="5" name="catches" id="catches" class="form-control" placeholder="Comment" required></textarea>
    </div>
     <div class="form-row col-12">
      <label for="inputLocation">Location</label>
      <input type="text" class="form-control" id="inputLocation" placeholder="Location">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>

{% endblock %}