{% extends 'base.html' %}
{% block content %}


<div class="accordion pt-3" id="accordionExample">
    {% for catch_log in catch_log %}
	<div class="card mb-2">
		<div class="card-header" id="headingOne">
			
        <div class="row">
            <div class="col-8">
				<button class="btn btn-link btn-block text-left pl-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="form-header">
                <p>Area: {{catch_log.area_name}} - {{catch_log.catch_date}}</p>
                </div>
                </button>
            </div>
            <div class="col-4 text-right">
                <a href="{{url_for('edit_catch_log', catch_log_id=catch_log._id)}}" type="button" class="btn btn-success form-button-edit">Edit</a>
                <a href="{{url_for('delete_catch_log', catch_log_id=catch_log._id)}}" type="button" class="btn btn-success form-button-delete">Delete</a>
            </div>
        </div>
        </div>

		<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body catch-log-font">
            <div class="row">
                <div class="col-6">
				<p>Name: {{catch_log.name}}</p>
				<p>Email: {{catch_log.email}}</p>
				<p>Magnet: {{catch_log.magnet}}</P>
                </div>
                <div class="col-6">
                <p>Catches: {{catch_log.catch_1}}</p>
                <p>Catches: {{catch_log.catch_2}}</p>
                <p>Catches: {{catch_log.catch_3}}</p>
                <p>Catches: {{catch_log.catch_4}}</p>
                <p>Catches: {{catch_log.catch_5}}</p>
			    </div>
            </div>
            </div>
		</div>
	</div>
    {% endfor %}
</div>


{% endblock %}