{% extends 'base.html' %}
{% block content %}

<h1>Contact</h1>

<div class="center-form">
	<form onsubmit="return sendMail(this);" onsubmit="setTimeout(function(){window.location.reload();},10);" id="myForm">
		<input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
		<input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
		<textarea rows="5" name="comment" class="form-control" id="comment" placeholder="Comment" required></textarea>
		<input type="submit" name="submit" value="Submit" id="submit">
	</form>
</div>

	{% endblock %}