{% extends 'base.html' %}
{% block content %}

<div class="container">
<h2>Edit Catches</h2>
<form action="{{ url_for('update_catch_log', catch_log_id=catch_log._id) }}" method="POST">
  <div class="form-row">
    <div class="form-row col-12">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{catch_log.name}}">
    </div>
    <div class="form-row col-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{catch_log.email}}">
    </div>
    <div class="form-row col-12">
      <label for="magnet">Magnet</label>
      <input type="text" class="form-control" id="magnet" name="magnet" placeholder="Magnet" value="{{catch_log.magnet}}">
    </div>
    <div class="form-row col-12">
      <label for="area_name">Area</label>
      <select class="custom-select" id="area_name" name="area_name">
        <option selected disabled value="">Choose Area</option>
        {% for area in area %}
            {% if area.area_name == catch_log.area_name%}
            <option value="{{area.area_name}}" selected>{{area.area_name}}</option>
            {% else %}
            <option value="{{area.area_name}}">{{area.area_name}}</option>
           {% endif %} 
        {% endfor %}
      </select>
    </div>
    <div class="form-row col-12">
      <label for="location_name">Location</label>
      <input type="text" class="form-control" id="location_name" name="location_name" placeholder="Location" value="{{catch_log.location_name}}">
    </div>
     <div class="form-row col-12">
      <label for="catches">Catches</label>
      <textarea rows="5" name="catches" id="catches" class="form-control" placeholder="Catches" required>{{catch_log.catches}}</textarea>
    </div>
     <div class="form-row col-12">
      <label for="catch_date">Date</label>
      <input type="date" class="form-control" id="catch_date" name="catch_date" placeholder="Date" value="{{catch_log.catch_date}}">
    </div>
  </div>

  <button type="submit" name="action" class="btn btn-primary">Submit</button>

</form>
</div>

{% endblock %}