{% extends 'base.html' %} {% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-8 offset-2 text-center form-header">
            <p>Magnet Fishing</p>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6 col-12-md col-sm-12 text-left">
            <img src="static/images/magnet.jpg" class="home-images" alt="Fishing Magnet Potrait" />
        </div>

        <div class="col-lg-6 col-12-md col-sm-12 home-text">
            <p>Magnet Fishing is a niche, but growing sport, which involves 'casting' magnets into Canels,
               Lakes; and off Bridges and Piers; in the hope to connect to any metal artefacts. Artefacts that
               can range from Old Nails and Beer Bottle Tops; to Jewel and even a Scooter!</p>

            </p>Magnet Fishing is an easy sport to take up. All you need is a strong magnet and rope and you’re
                ready to go! Such items can be purchased online, such as at <a href="https://www.first4magnets.com">First 4 Magnets</a>, which
                provide international shipping.</p>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
       

        <div class="col-lg-6 col-12-md col-sm-12 home-text">
            <p>This Website aims to bring fellow Magnet Fishers together and share their finds throughout
               the Stockholm area. ‘Catches’ can be inputted <a href="">Add Catches</a>
               and are then shared at <a href="">Catch Log</a>. All catches
               have the option to be edited or deleted to make relevant changes.</p>

            </p>So start your adventure in Magnet Fishing today! Connect, share, and most of all, have fun!</p>

            </p>”Twenty years from now you will be more disappointed by the things you didn’t do than by the 
                ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade
                winds in your sails. Explore. Dream. Discover.”… Mark Twain</p>
        </div>
        <div class="col-lg-6 col-12-md col-sm-12 text-right">
            <img src="static/images/catches.jpg" class="home-images" alt="Jack and Ella Fairfield" />
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row mt-5">
        <div class="col text-center home-video">
            <ifram width="560" height="315" src="https://www.youtube.com/embed/Ol498NdYzvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}
