{% extends 'base.html' %} {% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-8 offset-2 text-center form-header">
            <p>Areas in Stockholm</p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/images/magnet.jpg" class="home-images" alt="Fishing Magnet Potrait" />
        </div>

        <div class="col-md-6 col-sm-12">
            <p></p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/images/catches.jpg" class="home-images" alt="Jack and Ella Fairfield" />
        </div>

        <div class="col-md-6 col-sm-12">
            <p></p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <div class="row mt-5">
        <div class="col text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ol498NdYzvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}
