{% extends 'base.html' %} {% block content %}

<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-8 offset-2 text-center page-header">
                <p>What is Magnet Fishing?</p>
            </div>
        </div>
    </div>

    <!--First Row-->
    <div class="container home-container pt-5">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 col-md-12 col-sm-12 pb-2 image-magnet home-image-left">
                <img src="static/images/magnet.jpg" class="home-images" alt="Magnet Fishing Potrait" />
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 home-text">
                <p>
                    Magnet Fishing is an exciting, growing sport, which involves 'casting' magnets into canals, lakes, off bridges and piers, in the hope of connecting to metal objects. 'Catches' can range from old nails, beer bottle tops,
                    bikes, scooters or even treasure!
                </p>

                <p>Magnet Fishing is an easy sport to take up. All you need is a strong magnet and rope and you’re ready to go! Such items can be purchased at many outlets online, often providing international shipping options.</p>
            </div>
        </div>
    </div>

    <!--Second Row-->
    <div class="container home-container pt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 home-text">
                <p>
                    This Website serves to bring fellow Magnet fishers together and enables this community to share their finds throughout the Stockholm area. You can input your ‘Catches’ at
                    <a href="{{url_for('add_catches')}}">Add Catches</a> and you can share them with others at <a href="{{url_for('get_catches')}}">Catch Log</a>.
                </p>

                <p>So start your adventure in Magnet Fishing today.</p>

                <p class="pb-3">Connect, share, and most of all, have fun!</p>

                <p class="home-quote">
                    ”Twenty years from now you will be more disappointed by the things you didn’t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore.
                    Dream. Discover.”
                </p>

                <p class="text-center">... Mark Twain</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pl-0 pr-0 pt-5 home-image-right">
                <img src="static/images/catches.jpg" class="home-images" alt="Magnet Fishing Catches" />
            </div>
        </div>
    </div>
</section>

<section>
    <!--Video-->
    <div class="container pt-5">
        <div class="row">
            <div class="col-8 offset-2 text-center page-header">
                <p>Magnet Fishing Motivation!</p>
            </div>
            <div class="col-lg-12 pt-3 text-center">
                <i class="fas fa-hand-point-down pb-3"></i>
            </div>
            <div class="col-10 offset-1 video-margins embed-responsive embed-responsive-16by9 video">
                <iframe
                    title="Magnet Fishing Stockholm"
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/TtBhK4DSHkI?rel=0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}
