{% extends 'base.html' %} {% block content %}

<section>
    <!--Catch Log-->
    <div class="container pt-5">
        <div class="row mx-auto">
            <a href="{{url_for('get_catches')}}"><i class="fas fa-chevron-left d-block d-sm-none d-none d-sm-block d-md-none"></i></a>
            <div class="col-8 offset-2 text-center page-header">
                <p>Edit Form</p>
            </div>
        </div>

        <!--Add Catch Form-->
        <form action="{{ url_for('update_catch_log', catch_log_id=catch_log._id) }}" method="POST">
            <!--First Row-->
            <div class="row pl-2 pt-4">
                <div class="form-row col-md-6 col-sm-12 mt-3">
                    <input type="text" class="form-control form-fields" id="name" name="name" placeholder="Name" value="{{catch_log.name}}" />
                </div>
                <div class="form-row col-md-6 col-sm-12 mt-3">
                    <input type="email" class="form-control form-fields" id="email" name="email" placeholder="Email" value="{{catch_log.email}}" />
                </div>
            </div>

            <!--Second Row-->
            <div class="row pl-2">
                <div class="form-row col-md-5 col-sm-12 mt-3">
                    <select class="custom-select form-control form-fields" id="magnet" name="magnet">
                        <option selected disabled value="">Choose Magnet</option>
                        {% for magnet in magnet %} {% if magnet.magnet == catch_log.magnet%}
                        <option value="{{magnet.magnet}}" selected>{{magnet.magnet}}</option>
                        {% else %}
                        <option value="{{magnet.magnet}}">{{magnet.magnet}}</option>
                        {% endif %} {% endfor %}
                    </select>
                </div>

                <div class="form-row col-md-6 col-sm-12 mt-3">
                    <select class="custom-select form-control form-fields" id="area_name" name="area_name">
                        <option selected disabled value="">Choose Area</option>
                        {% for area in area %} {% if area.area_name == catch_log.area_name%}
                        <option value="{{area.area_name}}" selected>{{area.area_name}}</option>
                        {% else %}
                        <option value="{{area.area_name}}">{{area.area_name}}</option>
                        {% endif %} {% endfor %}
                    </select>
                </div>
                <div class="form-row col-md-1 mt-3">
                    <!-- Button Trigger Modal -->
                    <button type="button" class="btn btn-primary default-button mx-auto" data-toggle="modal" data-target="#exampleModalCenter">
                        Map
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Map</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="/static/images/areas.jpg" class="modal-image" alt="Area Map" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Last Rows-->
            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="location_name" name="location_name" placeholder="Location - i.e. street, lake, bridge, canal" value="{{catch_log.location_name}}" />
            </div>

            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="catch_1" name="catch_1" placeholder="Catch 1" value="{{catch_log.catch_1}}" />
            </div>

            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="catch_2" name="catch_2" placeholder="Catch 2" value="{{catch_log.catch_2}}" />
            </div>

            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="catch_3" name="catch_3" placeholder="Catch 3" value="{{catch_log.catch_3}}" />
            </div>

            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="catch_4" name="catch_4" placeholder="Catch 4" value="{{catch_log.catch_4}}" />
            </div>

            <div class="form-row col-11 offset-0.5 mx-auto mt-4">
                <input type="text" class="form-control form-fields" id="catch_5" name="catch_5" placeholder="Catch 2" value="{{catch_log.catch_5}}" />
            </div>

            <div class="form-row col-md-6 offset-md-3 col-10 offset-1 mx-auto mt-4">
                <input type="date" class="form-control form-fields" id="catch_date" name="catch_date" value="{{catch_log.catch_date}}" />
            </div>

            <div class="form-row col-md-4 offset-md-4 mx-auto mt-3">
                <button type="submit" name="action" class="btn btn-primary center mt-4 mx-auto default-button">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}